.VitModal {
    
}
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}
.modal-window{
    width: 600px;
    height: 200px;
    border-radius: 15px;
    background-color: #fff;
    margin: 200px auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.modal-window-header {
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eee;
}
.modal-title {
    font-size: 1.5rem;
}
.modal-close {
    cursor: pointer;
}
.modal-window-body {
    padding: 10px;
    color: #000;
}
.modal-window-body p{
    color: #000;
}
.modal-window-footer {
    padding: 5px 10px;
    border-top: 1px solid #eee;       
}